* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  appearance: none;
}
input,
button,
[type="button"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

:focus-visible {
  outline: none;
  outline-offset: none;
}
:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
}

p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

code,
kbd,
samp,
pre {
  font-family: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}