{% extends 'base.html' %}
{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="auth-center-container">
    <form action="" class="main-block shadow auth-form">
      {% csrf_token %}
      <h3>Вход в систему</h3>

      <div class="auth-form-input">
        {{ form.username }}
        {% if form.username.errors %}
            <div style="color: red; font-size: 14px;">{{ form.username.errors }}</div>
        {% endif %}

        {{ form.password }}
        {% if form.password.errors %}
            <div style="color: red; font-size: 14px;">{{ form.password.errors }}</div>
        {% endif %}
      </div>

      <button class="main-button">Войти</button>
    </form>
  </div>
</div>
{% endblock %}