{% extends 'base.html' %}
{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="auth-center-container">
    <form action="" class="main-block shadow auth-form">
      <h3>Вход в систему</h3>

      <div class="auth-form-input">
        <input placeholder="Имя пользователя" type="text">
        <input placeholder="Пароль" type="password">
      </div>
    </form>
  </div>
</div>
{% endblock %}