{% extends 'base.html' %}

{% block title %}Создать заявку{% endblock %}

{% block content %}
<div class="container">
  <div class="ticket-center-container">
    <form action="" class="main-block shadow create-ticket-form">
      {% csrf_token %}
      <h3>Создать заявку</h3>

      <div class="create-ticket-form-input">
        {{ form.description }}
        {{ form.description.errors }}
      </div>

      <button type="submit" class="main-button">Отправить</button>
    </form>
  </div>
</div>
{% endblock %}